@media (max-width: 1500px) {
  .logo {
    margin-top: 20rem;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 50%;
  }

  .logo {
    margin-top: 12rem;
  }
}
@media (max-width: 1000px) {
  html {
    font-size: 45%;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 40%;
  }
  .main {
    padding: 0 10rem;
  }
}

@media (max-width: 750px) {
  html {
    font-size: 35%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 27%;
  }
  .main {
    padding: 0 2rem;
    margin-bottom: 0;
  }

  .heading-primary {
    font-size: 6.5rem;
  }

  .heading-secondary {
    font-size: 2.5rem;
  }

  .nav-wrapper {
    position: static;
  }

  .header__nav {
    animation: moveInBottomLarge 750ms ease-out 750ms;
    animation-fill-mode: backwards;
  }

  .nav-bar {
    flex-direction: column;
    -webkit-backdrop-filter: blur(0);
    backdrop-filter: blur(0);
  }

  .nav-bar__item {
    padding: 2rem 7.5rem;
    border-right: none;
    border-bottom: solid 2px #fff;
    letter-spacing: 0.7rem;
  }

  .nav-bar__item:last-child {
    border-bottom: none;
  }

  .section__about {
    padding: 10rem auto 0 auto;
  }
  .section__about-text {
    padding-top: 10rem;
  }
}

@media only screen and (max-width: 600px) {
  .main {
    background-image: url('./assets/matterhorn-background-cropped-super-compressed--small.jpg')
      linear-gradient(rgba(0, 0, 0, 0.53), rgba(0, 0, 0, 0.53));
  }
}

@media (max-width: 500px) {
  .logo {
    margin-top: 15rem;
    margin-bottom: 2rem;
  }

  .heading-primary {
    margin-bottom: 1rem;
  }

  .heading-secondary {
    margin-bottom: 2rem;
  }

  @media (max-width: 310px) {
    .heading-primary {
      font-size: 5rem;
    }
    .heading-secondary {
      font-size: 2rem;
    }

    .nav-bar__item {
      font-size: 2rem;
    }

    .main {
      padding: 0 2rem;
    }
  }
}
