::root {
  --color-background: #120e0c;


  --margin-top-small: margin-top: 2rem;
  --margin-top-medium: margin-top: 6rem;
  --margin-top-large: margin-top: 10rem;
  --margin-top-huge: margin-top: 15rem;
  --margin-bottom-small: margin-bottom: 2rem;
  --margin-bottom-medium: margin-bottom: 6rem;
  --margin-bottom-large: margin-bottom: 10rem;
  --margin-bottom-huge: margin-bottom: 15rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


::selection {
  background-color: #333;
  color: #aaa;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Michroma', sans-serif;
  /* background-color: #22180f; */
  background-color: #271E17;
  color: #fff;
}

.heading-primary {
  font-family: 'Limelight', sans-serif;
  font-size: 8.5rem;
  text-transform: uppercase;
  /* letter-spacing: 0.3rem; */
  font-weight: 400;
}

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 400;
}

.main {
  background-image: url(./assets/matterhorn-background-cropped.png),
    linear-gradient(rgba(0, 0, 0, 0.53), rgba(0, 0, 0, 0.53));
  background-blend-mode: darken;
  background-size: contain;
  /* background-position-y: -40rem; */
  /* background-position: top; */
  background-repeat: no-repeat;
  height: 5000px;
  padding: 0 20rem;
}

/* Header */

.section__header{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo {
  width: 58rem;
  margin-top: 35rem;
  margin-bottom: 1rem;
  user-select: none;
}

.logo__img {
  width: 100%;
}

/* Nav bar */

.sticky {
  position: sticky;
  top: 0;
}

.header__nav {
  margin: 4rem auto;
  display: inline-block;
}

.nav-bar {
  list-style: none;
  display: flex;
  /* gap: 2rem; */
  font-size: 2.6rem;
  text-transform: uppercase;
  border: solid 2px #fff;
 
}

.nav-bar__item {
  border-right: solid 2px #fff;
  padding: 1rem 2rem;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  /* transition: all 450ms; */
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.nav-bar__item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255, 0.25);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: right;
  z-index: -1;
}

.nav-bar__item:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.nav-bar__item:last-child {
  border-right: none;
}

.nav-bar__item a:link,
.nav-bar__item a:visited {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  transition: transform 250ms;
  /* backface-visibility: hidden; */
}

.nav-bar__item:hover a:link {
  transform: scale(1.07)
}

/* .nav-bar__item:hover {
  background-color: rgba(255,255,255, 0.25)
} */

.section__about {
  max-width: 120rem;
  margin: 90rem auto 0 auto;
  line-height: 1.7;
}

.section__about-text {
  font-size: 2.8rem;
  padding-top: 18rem;
  border-top: solid 2px #fff;
}


