:root {
  --color-background: #271e17;
  --color-white: #efefef;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::selection {
  background-color: #333;
  color: #bbbfbe;
}

::-webkit-scrollbar {
  width: 2em;
}

::-webkit-scrollbar-track {
  background-color: #333;
}

::-webkit-scrollbar-thumb {
  background-color: #5c5c5c;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6c6c6c;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Michroma', sans-serif;
  background-color: var(--color-background);
  color: var(--color-white);
  position: relative;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.disable-select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.to-top {
  position: fixed;
  display: inline-block;
  bottom: 2rem;
  right: 2rem;
  height: 5.5rem;
  width: 5.5rem;
  background-image: url('./assets/spectre\ designs\ logo--empty.svg');
  background-size: contain;
  z-index: 1000;
  cursor: pointer;
  border-radius: 100vw;
  transition: all 350ms;
  opacity: 0.7;
}

.to-top:hover {
  transform: rotate(60deg);
}

.to-top:active {
  outline: solid 1rem rgba(255, 255, 255, 0.001);
  outline-offset: 5px;
}

.heading-primary {
  font-family: 'Limelight', sans-serif;
  font-size: 7.5rem;
  text-transform: uppercase;
  font-weight: 400;
  animation: moveInLeft 1000ms ease-in-out;
  /* display: inline-block; */
}

.heading-secondary {
  /* display: inline-block; */
  font-size: 3rem;
  font-weight: 400;
  animation: moveInRight 1000ms ease-in-out;
}

.heading-tertiary {
  font-size: 4rem;
  /* font-family: 'Limelight'; */
  display: inline-block;
  /* text-transform: uppercase; */
  /* text-shadow: 4px 4px 0 #000; */
}

.general-text {
  letter-spacing: 0.25rem;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30rem);
  }
  80% {
    transform: translate(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(30rem);
  }
  80% {
    transform: translate(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30rem);
  }
  /* 80% {
    transform: translateY(-0.5rem);
  } */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInBottomLarge {
  0% {
    opacity: 0;
    transform: translateY(80rem);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  /* 80% {
    opacity: 1;
  } */
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes rotateIn {
  0% {
    opacity: 0;
    transform: rotate(-380deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  80% {
    transform: rotate(1000deg);
  }
  100% {
    transform: rotate(980deg);
  }
}

.main {
  background-image: url(./assets/matterhorn-background-cropped-super-compressed.jpg),
    linear-gradient(rgba(0, 0, 0, 0.53), rgba(0, 0, 0, 0.53));
  background-blend-mode: darken;
  background-size: contain;
  /* background-position-y: -40rem; */
  /* background-position: top; */
  background-repeat: no-repeat;
  height: 5000px;
  padding: 0 20rem;
}

/* Header */

.section__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.logo {
  width: 46rem;
  margin-top: 25rem;
  margin-bottom: 1rem;
  user-select: none;
  animation: fadeIn 1500ms ease-out;
  position: relative;
  pointer-events: none;
}

.logo__img {
  width: 100%;
}

.logo__img--outer {
  width: 100%;

  display: inline-block;
  z-index: 1;
}

.logo::after {
  content: '';
  height: 12rem;
  width: 12rem;
  background-image: url('./assets/tree-logo--inner.svg');
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 28%;
  left: 36.575%;
  z-index: 1000;
  animation: rotateIn 1500ms ease-out;
  cursor: pointer;
  pointer-events: all;
}

/* Nav bar */

.sticky {
  position: sticky;
  top: 0;
}

.nav-wrapper {
  position: sticky;
  top: 0;
  margin: 4rem auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header__nav {
  display: inline-block;
  animation: moveInBottom 750ms ease-in-out 750ms;
  animation-fill-mode: backwards;
}

.nav-bar {
  list-style: none;
  display: flex;
  /* gap: 2rem; */
  font-size: 2.2rem;
  text-transform: uppercase;
  border: solid 2px var(--color-white);
  background-color: rgba(51, 51, 51, 0.8);
}
/* .nav-bar > * {
  flex-basis: 100%;
  text-align: center;
} */

@supports (backdrop-filter: blur(0.8rem)) or
  (-webkit-backdrop-filter: blur(0.8rem)) {
  .nav-bar {
    -webkit-backdrop-filter: blur(0.8rem);
    backdrop-filter: blur(0.8rem);
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.nav-bar__item {
  border-right: solid 2px var(--color-white);
  cursor: pointer;
  /* transition: all 450ms; */
  position: relative;
  z-index: 1;
  overflow: hidden;
  letter-spacing: 0.4rem;
}

.nav-bar__item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.25);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: right;
  z-index: -1;
}

.nav-bar__item:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.nav-bar__item:last-child {
  border-right: none;
}

.nav-bar__item a:link,
.nav-bar__item a:visited {
  padding: 1rem 2rem;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  transition: transform 250ms;
  /* backface-visibility: hidden; */
}

.nav-bar__item:hover a:link {
  transform: scale(1.07);
}

/* SECTION -- ABOUT */

.section__about {
  max-width: 120rem;
  padding-top: 6rem;
  margin: 40rem auto 0 auto;
  line-height: 1.7;
  overflow: hidden;
}

.section__about .heading-tertiary {
  display: block;
  padding-left: 6rem;
  padding-bottom: 2rem;
  animation: moveInRightBig 1400ms ease-out;
  /* transform-origin: bottom; */
}

.heading-box {
  border-bottom: solid 2px var(--color-white);
  margin-bottom: 8rem;
}

.general-text--box {
  font-size: 2.2rem;
  /* padding-top: 18rem; */
  padding: 6rem 5rem 6rem 5rem;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
}

@keyframes moveInRightBig {
  0% {
    opacity: 0;
    transform: translateX(100rem) scaleY(0);
  }

  100% {
    opacity: 1;
    transform: translateX(0) scaleY(1);
  }
}

.spectre-logo__box {
  max-width: 25rem;
  margin: 40rem auto 0;
}

.spectre-logo__img {
  width: 100%;
}

.content-box {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 5rem;
  padding: 6rem 5rem 6rem 5rem;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
}

.skills-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
}

.icon-js {
  fill: #f0db4f;
}

.icon-css {
  fill: #3c99dc;
}

.icon-html {
  fill: #e34c26;
}

.icon-react {
  fill: #61dbfb;
}

.icon-git {
  fill: #f1502f;
}
.icon-figma {
  fill: purple;
}

svg {
  width: 5rem;
}

.projects__container {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.projects__link:link,
.projects__link:visited {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  font-size: 2rem;
  transition: all 250ms ease;
}

.projects__link:hover,
.projects__link:active {
  color: rgb(206, 203, 203);
  transform: scaleX(1.05);
}

.projects__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30rem;
  gap: 3rem;
  justify-content: baseline;
  font-size: 1.6rem;
}

.projects__logo-box {
  max-width: 30rem;
}

.projects__logo-box img {
  width: 100%;
}
